{% extends 'base.html' %}

{% block title %}  {{ blog.title }} {% endblock %}

{% block nav_blog_active %} active {%endblock%}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %} 
    <link rel="stylesheet" href= "{% static 'blog/blog.css' %}" >
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者:{{ blog.author }} </li>
                    <li>分类: <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }} </a></li>
                    <li>发表日期: {{ blog.created_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读：({{ blog.get_read_num }})</li>
                    <li>评论:({% get_comment_count blog %})</li>
                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="like" onclick="likeChange(this,'{% get_content_type blog %}',{{ blog.pk }})"> <!-- onlick 为点击操作 点击后触发-->
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
                    <span class="liked-num">{% get_like_count blog %}</span>
                    <span>喜欢</span>
                </div>
                <div class="blog-more">
                    <p>上一篇: 
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}"> 
                               {{ previous_blog.title }} 
                            </a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>下一篇: 
                        {% if next_blog %}
                        <a href="{% url 'blog_detail' next_blog.pk %}"> 
                            {{ next_blog.title }}
                        </a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id= "comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden"> <!--发布评论 发送给提交页面-->
                            <label>{{ user.username }} 欢迎评论~~</label>
                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">回复: </p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}
                            {% get_comment_form blog as comment_form  %} <!--把获得的东西取个别名叫comment_form -->
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span> <!--错误信息-->
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        您尚未未登录,登录之后方可评论~
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a> <!--?from={{ request.get_full_path }}把从哪里来的链接发送进去登录以后可以跳转回来-->
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a> 
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment_list">
                        {% get_comment_list blog as comments %}
                        {% for comment in comments %}
                            <div id="root_{{ comment.pk }}" class="comment">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }}):</span>
                                
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>

                                <div class="like" onclick="likeChange(this,'{% get_content_type comment %}',{{ comment.pk }})"> <!-- onlick 为点击操作 点击后触发-->
                                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                                    <span class="liked-num">{% get_like_count comment %}</span>
                                </div>

                                <!--调用下面script中reply 方法 传入的是该条评论的id值 -->
                                <a href="javascript:reply({{ comment.pk }});">回复</a> 
                                
                                <!--将他下一级的评论取出 回复他的评论-->
                                {% for reply in comment.root_comment.all %} 
                                    <div class="reply">
                                        <span>{{ reply.user.username }}</span>
                                        <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }}):</span>
                                        <span>回复</span>
                                        <span>{{ reply.reply_to.username }}</span>
                                        <div id="comment_{{ reply.pk }}">
                                                {{ reply.text|safe }}
                                        </div>
                                        <div class="like" onclick="likeChange(this,'{% get_content_type reply %}',{{ reply.pk }})"> <!-- onlick 为点击操作 点击后触发-->
                                            <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                            <span class="liked-num">{% get_like_count reply %}</span>
                                        </div>
                                        <a href="javascript:reply({{ reply.pk }});">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id="no_comment">暂无评论</span>
                        {% endfor %}
                    </div>      
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript"> 
        function reply(reply_comment_id){
            //设置值
            $('#reply_comment_id').val(reply_comment_id); //修改reply_comment_id的值
            var html =$("#comment_" + reply_comment_id).html(); // 选择器 得到html 然后获得其文章内容
            $('#reply_content').html(html);
            $('#reply_content_container').show(); //在上面显示出要回复对象的内容

            // 页面回滚到提交评论那边
            $('html').animate({scrollTop:$('#comment_form').offset().top - 60 },300,function(){
                CKEDITOR.instances['id_text'].focus();

            }); 
            
        }
        function numFormat(num){ //控制格式 保证 3 输出为 03 
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp){ // 获取时间 时间戳转换为时间
            var datetime = new Date(timestamp * 1000); // 得到时间 以ms为单位转换为s ×1000
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth()+1); //得到月份从0开始+1 
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
            
        }
        $("#comment_form").submit(function(obj,content_type,object_id){ //选择出了id 为comment_form 的标签
            $("#comment_error").text(''); //清掉错误提示
            // 判断是否为空 若为空则不提交 trim把取到的内容换行和空格都忽略
            if (CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            // 跟新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({ //是一个字典
                url: "{% url 'update_comment' %}" ,//向那个链接提交数据
                type: 'POST', //提交类型
                data: $(this).serialize(), // 获取评论内容 this 即当前comment_form
                cache: false, //不需要缓存
                success: function(data){ // 如果提交成功返回data
                    console.log(data); //显示出来
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><span>' + data['username'] + '</span><span> (' + timeFormat(data['comment_time']) + ')：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{ 
                            // 插入回复
                            var reply_html ='<div class="reply"><span>' + data['username'] + '</span><span> (' + timeFormat(data['comment_time']) + ')</span><span> 回复 </span><span>' + data['reply_to'] + '：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide(); // 隐藏当前要评论的对象
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();//去掉暂无评论
                        $("#comment_error").text('评论成功');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }                    
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        })
        function likeChange(obj, content_type, object_id){ //点赞或取消点赞
            var is_like = obj.getElementsByClassName('active').length == 0 // 获取是否已经点赞 已经点赞会有active标签
            $.ajax({ //发送请求
                url: "{% url 'like_change' %}", // q向哪里发送
                type: 'GET', // 发送的种类
                data: {  //发送内容
                        content_type: content_type,
                        object_id: object_id ,
                        is_like: is_like
                },
                cache: false, //是否有缓存
                success: function(data){ //请求成功
                    console.log(data)
                    if(data['status']=='SUCCESS'){ // 请求成功
                        // 跟新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon')); // 获取glyphicon这一层
                        if(is_like){ // 如果是要点赞
                            element.addClass('active'); // 给这层 加上 active 标签 
                        }else{ // 要取消点赞
                            element.removeClass('active'); // 移除 active 标签 
                        }
                        // 跟新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']); // 跟新点赞数

                    }else{
                        alert(data['message']);//弹窗 错误信息
                    }
                },
                error: function(xhr){ //发生错误
                    console.log(xhr)
                }
            });
        }
    </script>

{% endblock %}